@media screen and (max-width: 1400px){
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px){

    #desktop-nav{
        display: none;
    }

    #hamburger-nav{
        display: flex;
    }

    #experience,
    .experience-details-container{
        margin-top: 2rem;
    }

    #profile{
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .section-container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        height: auto;
    }

    .arrow{
        display: none;
    }

    section{
        margin: 0 5%;
        padding: 2rem 0;
        height: auto;
    }

    .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .prf{
        width: 275px;
        height: 275px;
    }

    .about-containers{
        margin-top: 0;
    }
}

@media screen and (max-width: 600px){

    #contacts{
        height: auto;
    }

    #profile{
        height: auto;
        margin-bottom: 0;
    }

    article{
        font-size: 1rem;
    }

    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers,
    .btn-container{
        flex-wrap: wrap;
    }

    .contact-info-upper-container{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .contact-info-container p,
    .nav-links li a{
        font-size: 1rem;
    }

    .experience-sub-title{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-container{
        text-align: justify;
    }
}